{%extends 'base.html'%}

{%block content%}
{% load static %}
<style>
    .newPost_list {
        margin-top: 50px;
    }
    #userSub{
        position: absolute;
        margin-left: 700px;
        border: 1px solid black;
    }

    .heart{
        width:40px;
    }

    .thumb{
        clear: both;
        background-color: white;
        position: relative;
    }

    #content{
        position: relative;
        height: 500px;
        width: 30%;
        display: inline-block;
        margin: auto;
        margin-bottom: 50px;
        background-color: white;
        word-break: break-all;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 0px;
        margin: 15px;
    }

    #profileImage{
        margin-left: 15px;
        margin-right: 10px;
        border-radius: 100%;
        border: 1.5px solid brown;
        width:40px;
        height: 40px;
    }


    .goToWriter a{
        font-size: 20px;
        font-weight: 900;
    }

    .profile{
        text-align: left;
        position: relative;
        width: 500px;
        background-color: rgb(223, 184, 192);
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .page {
        display: block;
        margin-top: 50px;
    }

    .dateheart {
        text-align: left;
        margin-left: 10px;
        margin-top: 10px;
    }

    .title2 {
        text-align: left;
    }

    .body2 {
        text-align: left;
        padding-left: 15px;
    }
    small{
        font-size: small;
    }
    .del{
        font-weight: 900;
    }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
           
            $("#toggle").click(function() {
                $("#userSub").slideToggle("fast"); 
            });
        });
    function deletePost() {
        var ret = confirm("게시물을 삭제합니다.");
        return ret;
    }

    function authMessage(){
                       alert("쪽지는 로그인 하신 뒤 이용가능한 서비스 입니다");
                  }
</script>

<script type="text/javascript">
    function post_like(p_id) {
        $.ajax({
            type: "GET",
            url: "{% url 'post_likes' %}", 
            data: {
                'blog_id': p_id
            }, 
            dataType: "json",
            success: function (response) {
                $('#like_count' + p_id).html(response.like_count) 
                    if (response.message == "좋아요") 
                {
                    $('#heart' + p_id).attr("src", "{% static '빨간하트.png' %}")
                }
                    else if (response.message == "좋아요 취소") 
                {
                    $('#heart' + p_id).attr("src", "{% static '빈하트.png' %}")
                }
            }
        })
    }
</script>

<br><br>
    {% for unit in postList %}
    <span class="newPost_list">
    <div id="content">  
            <span class="goToWriter">
                <div class="profile">
                {% for units in userinfo %}
               
                    {% if units.id == unit.writer.id%}
                        
                            <a href="{% url 'userPage' units.id %}" >
                            {% if units.profileImage %}
                                  <img id="profileImage"  src={{units.profileImage.url}} alt='image' height="100px" width="100px">
                            {% else%}
                                 <img id="profileImage" src= "{%static '솜솜.jpg'%}" alt='image' height="100px" width="100px">
                            {% endif %}
                    {%endif%}
                    
                {% endfor %}
                
                {{unit.writer}}</a>
                </div>
            </span>
            
        

        <br>
                    
        {% if unit.image %}
        <img class="thumb" src={{unit.image.url}} alt='image' height="300px" width="300px">
        {% endif %}
        <br>

            <div class="dateheart">
                {% if user.is_authenticated %}
                <span id="{{unit.id}}" onclick="post_like(this.id)">
                    {%if request.user in unit.like.all%}
                        <img class="heart" id="heart{{unit.id}}" src="{% static '빨간하트.png' %}" alt="full_heart">
                    {%else%}
                        <img class="heart" id="heart{{unit.id}}" src="{% static '빈하트.png' %}" alt="empty_heart">
                    {%endif%}
                    {%else%}
                        <img id="{{unit.id}}" onclick="alert('로그인이 필요합니다')"class="heart" id="heart" src="{% static '빈하트.png' %}" alt="empty_heart">
                    {%endif%}
                    <span id="like_count{{unit.id}}">{{unit.like.count}}</span>
                </span>
                &nbsp;
                <small>{{unit.pub_date}} </small>
                <span class="del"> {% if user.username == unit.writer %}
               <a  href="{% url 'deletePost' unit.id%}" onclick="return deletePost()">삭제하기</a>
                {% elif user.is_staff%}
                <a  href="{% url 'deletePost' unit.id%}" onclick="return deletePost()">삭제하기</a>
                {%endif%}</span>
            </div>

            <table>
                <tr>
                    <th width="70px;" height="40px;"> Title</th>
                    <td width="400px;" height="40px;" class="title2">{{unit.title}}</td>
                </tr>
                <tr>
                    <td colspan="2" class="body2">{{unit.body|linebreaks}}</td>
                </tr>
            </table>
            <br>
           
    </div>
</span>  
{% endfor %}

<br>

<div class="page">
    {% if postList.has_previous %}
    <!--이전페이지가 있다면-->
    <a href="?page=1">1</a> <!-- url을 그냥 써주면 됨-->
    <a href="?page={{postList.previous_page_number}}">◀</a>
    {% endif %}
    <span>{{postList.number}}</span>
    <span>of</span>
    <span>{{postList.paginator.num_pages}}</span>
    {% if postList.has_next %}
    <!--다음페이지가 있다면-->
    <a href="?page={{postList.next_page_number}}">▶</a>
    <a href="?page={{postList.paginator.num_pages}}">{{postList.paginator.num_pages}}</a>
    {% endif %}
</div>
    

{%endblock%}