{%extends 'base.html'%}
{%block content%}
{% load static %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700;900&display=swap');

    .text {
        border-radius: 20px;
        font-family: 'Noto Sans KR', sans-serif;
        position: relative;
        margin: 3% 20%;
        padding: 40px;
        background-color: rgb(224, 190, 188);
        color: rgb(65, 65, 65);
    }
</style>
<br><br><br>
<div class="text">
    <form method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {{postsform}}
        <br><button type="submit">올리기</button>
    </form>
</div>
{%endblock%}