{%extends 'base.html'%}

{%block content%}
   
    {% load static %}
    <style>
        #unit{
            text-align: center;
            border: 1px solid rgb(219, 219, 219);
            box-shadow: 2px 2px 2px rgb(219, 219, 219);
            border-radius: 20px;
            width: 70%;
            padding: 20px;
            margin: 20px auto;
            background-color: white;
        }

        .container {
            text-align: left;
            word-break: break-all;
        }
        .scroll{
            position: relative;
            width : 900px;
            height: 500px;
            right: 200px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        hr{
            margin: auto;
            width:800px;
        }
        #unit > img{
            float: left;
        }
        #profileImage{
            border-radius: 100%;
            border: 1.5px solid brown;
            margin-left: 10px;
            margin-right: 30px;
            margin-bottom: 30px;
        }
        .profile{
            float: left;
            margin-right: 20px;
        }
        .myPost{
            word-break: break-all;
            overflow-y: scroll;
            overflow-x: hidden;
            margin-left: 150px;
        }
        name{
            font-weight: 900;
            font-size: 30px;
        }

        .introduce {
            margin-left: 200px;
            width: 500px;
        }
    </style>

     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script>
       
        function OnMouseIn(elem) 
           {
               elem.style.color = "olive";
           }
        function OnMouseOut(elem) 
           {
               elem.style.color= "rgb(179, 108, 108)";
           }

        function authMessage()
            {
                alert("쪽지는 로그인 하신 뒤 이용가능한 서비스 입니다");
            }

        function deletePost() 
            {
                var ret = confirm("게시물을 삭제합니다.");
                return ret;
            }
            
         </script>
   
   <br><br>
 
    <div id="unit">
            <br>
            {% for units in userinfo %}
            
                {% if units.id == goTo%}
                <div class="container">
                    <div class="profile">
                        {% if units.profileImage %}
                            <img id="profileImage"  src={{units.profileImage.url}} alt='image' height="150px" width="150px">
                        {% else%}
                            <img id="profileImage" src= "{%static '솜솜.jpg'%}" alt='image' height="150px" width="150px"></a>
                        {% endif %}
                        <br>
                    </div>

                   <name>{{units.username}}</name>  

                   <br><br>       

                   {% if user.is_authenticated %}
                   <button><a href="{% url 'newMessage' units.username %}" > 쪽지보내기</a></button>
                   {% else %}
                   <button><a href='#' onclick="authMessage()" > 쪽지보내기</a></button>
                   {%endif%}

                   {% if goTo == user.id%}
                   <button>
                       <a class="toNext" href="{% url 'editMypage' user.id%}">프로필수정하기</a>
                    </button>
                    {%endif%}

                    <br><br>
                    <div class="introduce">
                        {{units.introduce}}
                    </div>

                    {%endif %}
            {% endfor %}
            
            </div>  
        <br>
        <hr>
        <br>
    
        <div class="scroll myPost">
           
            {% for unit in posts %}<!--근데 여기서는 항목별로 보이게 하려고 for문 써줌-->
                <div id="unit" class='myPost'>
                    {% if unit.image %}
                    <img src={{unit.image.url}} alt='image' height="100px"width="100px">
                     
                    {% endif %}
                    제목 | {{unit.title}}<br> 
                    작성자 | {{unit.writer}}<br>
                    글 |  {{unit.body}}<br>
                    {% if user == unit.writer %}
                    <a class="toNext" href="{% url 'deletePost' unit.id%}" onclick="return deletePost()">삭제하기</a>
                    {% elif user.is_staff%}
                    <a class="toNext" href="{% url 'deletePost' unit.id%}" onclick="return deletePost()">삭제하기</a>
                    {%endif%}
                </div>
            {% endfor %}
        </div>
    </div>
   
    {%endblock%}