{%extends 'base.html'%}

{%block content%}
   
    {% load static %}
    <style>
        #unit{
            text-align: center;
            border: 1px solid rgb(219, 219, 219);
            box-shadow: 2px 2px 2px rgb(219, 219, 219);
            border-radius: 20px;
            width: 70%;
            padding: 20px;
            margin: 20px auto;
            background-color: white;
        }

        .container {
            text-align: left;
            word-break: break-all;
        }
        .scroll{
            position: relative;
            width : 900px;
            height: 650px;
            right: 200px;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        hr{
            margin: auto;
            width:800px;
        }
        #unit > img{
            float: left;
        }
        #profileImage{
            border-radius: 100%;
            border: 1.5px solid brown;
        }
        .profile{
            float: left;
            margin-right: 20px;
        }
        .myPost{
            word-break: break-all;
            overflow-y: scroll;
            overflow-x: hidden;
            margin-left: 150px;
        }
        name{
            font-weight: 900;
            font-size: 30px;
        }
    </style>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
     <script>
       
         function OnMouseIn(elem) 
           {
               elem.style.color = "olive";
           }
       function OnMouseOut(elem) 
           {
               elem.style.color= "rgb(179, 108, 108)";
           }

           function authMessage(){
                       alert("쪽지는 로그인 하신 뒤 이용가능한 서비스 입니다");
                  }
         </script>
   
   
 
    <div id="unit">
            <br>
            {% for units in userinfo %}
            
                {% if units.username == goTo%}
                <div class="container">
                    <div class="profile">
                        {% if units.profileImage %}
                            <img id="profileImage"  src={{units.profileImage.url}} alt='image' height="100px" width="100px">
                        {% else%}
                            <img id="profileImage" src= "{%static '솜솜.jpg'%}" alt='image' height="100px" width="100px"></a>
                        {% endif %}<br>
                        </div>
                   <name>{{units.username}}   </name>                          
                   {% if user.is_authenticated %}
                   <button><a href="{% url 'newMessage' goTo %}" > 쪽지보내기</a></button>
                   
                   {% else %}
                   <button><a href='#' onclick="authMessage()" > 쪽지보내기</a></button>
                   
                   {%endif%}
                   {% if goTo == user.username%}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <button><a class="toNext" href="{% url 'editMypage' user.username%}">프로필수정하기</a></button><br><br>
                    {%endif%}
            &nbsp;&nbsp;&nbsp;&nbsp;<br><b>{{units.introduce}}</b><br>
                     {%endif %}
            {% endfor %}
            
            </div>  
            <br><br>
    
        <hr>
    
        <div class="scroll myPost">
           
            {% for unit in posts %}<!--근데 여기서는 항목별로 보이게 하려고 for문 써줌-->
                <div id="unit" class='myPost'>
                    {% if unit.image %}
                    <img src={{unit.image.url}} alt='image' height="100px"width="100px">
                     
                    {% endif %}<br>
                    제목 | {{unit.title}}<br> 
                    작성자 | {{unit.writer}}<br>
                    글 |  {{unit.summary}}<br>
                    {% if user.username == unit.writer %}
                    <a class="toNext" href="{% url 'deletePost' unit.id%}" onclick="return deletePost()">삭제하기</a>
                    {% elif user.is_staff%}
                    <a class="toNext" href="{% url 'deletePost' unit.id%}" onclick="return deletePost()">삭제하기</a>
                    {%endif%}
                </div>
            {% endfor %}
        </div>
    </div>
   
    {%endblock%}