{%extends 'base.html'%}

{%block content%}
   
    {% load static %}
    <style>
        #unit{
            margin: auto;
        }
        #unit{
            text-align: center;
            border: 1px solid rgb(219, 219, 219);
            box-shadow: 2px 2px 2px rgb(219, 219, 219);
            border-radius: 20px;
            width: 70%;
            padding: 20px;
            margin: 20px auto;
            background-color: white;
        }
        .msg{
            overflow-y: scroll;
            overflow-x: hidden;
            height: 100vh;
        }

        .start{
            background-color: rgb(221, 179, 187) !important;
        }

        name{
            font-weight: 900;
            font-size: 18px;
        }
        .send{
            position: relative;
            left: 100px;
        }
        .receive{
            position: relative;
            left: -100px;
        }
    </style><br><br>
    
    <div id="unit" class="msg">
    <br>
    {% if message.to != user.username %}
            <h3>{{message.to}}님과의 쪽지</h3>
    {% elif message.writer != user.username %}
            <h3>{{message.writer}}님과의 쪽지</h3>
    {% endif%}
    <br>

    <hr>
    <br>

    <div id=reply>
        <form method="POST" action="{%url 'replyMessage' message.id  %}" enctype="multipart/form-data">
            {%csrf_token%}
            ✏답장
            <br><br>
            {{ replyForm  }}
            <br><br>
            <input type="submit">
        </form>
    </div>

    <br>
    <hr>
    <br>

    <div> 
        {% for reply in replys %}
                
            
            {% if reply.writer == user %}
                <div id="unit" class="send"> 
                    <b><name>내가</name>  {{reply.pub_date}} 에 보냄</b>
                    <br><br>
                    {{reply.body}}
                    <br><a  href="{% url 'deleteReply' reply.id message.id%} "><button onclick="return deleteM()">메세지 삭제</button></a> 
                </div>
            {% else%}
                <div id="unit" class="receive"> 
                    <b><name>{{reply.writer}}</name>님이  {{reply.pub_date}} 에 보냄</b>
                    <br><br>
                    {{reply.body}}
                    <br><a  href="{% url 'deleteReply' reply.id message.id%}"><button onclick="return deleteM()">메세지 삭제</button></a> 
                </div> 
            {%endif%}
            
        {% endfor %}
        <br>
    </div> 
    
    <div id="unit" class="start">  
        <b> <name>{{message.writer}}</name>님이 {{message.pub_date}}에 쪽지를 시작했습니다</b>
        <br><br>
        {{message.body}}
        <br><a  href="{% url 'deleteMessage' message.id%}"><button onclick="return deleteM()">메세지 삭제/메세지함 영구 나가기</button></a> 
    </div>
    <br>
    
    <br><br>
</div>

<script>
    function deleteM(){
         var ret = confirm("상대가 받은/보낸 메세지 함에서도 삭제됩니다 정말 삭제하시겠습니까?");
         return ret;
    }
</script>
{%endblock%}

       