{%extends 'base.html'%}

{%block content%}
   
    {% load static %}
    <style>
        #unit{
            text-align: center;
            border: 1px solid rgb(219, 219, 219);
            box-shadow: 2px 2px 2px rgb(219, 219, 219);
            border-radius: 20px;
            width: 50%;
            padding: 20px;
            margin: 30px auto;
            background-color: white;
            padding: 30px;
        }
        tr,td{
            padding: 5px;
        }
        td{
            width: 150px;
            padding: 10px;
        }
        .summary{
            width: 350px;
            padding: 20px;
        }
        .message_box {
            font-family: fantasy;
        }
    </style>
<br><br>
    <h3 class="message_box">Message Box</h3>
    {% for unit in message %}<!--근데 여기서는 항목별로 보이게 하려고 for문 써줌-->
    <div id="unit">
        <a class="toNext" href="{% url 'detailMessage' unit.id%}">
            {% if unit.to != user.username %}
            <h5>with  <b>{{unit.to}}</b></h5>
            {% elif unit.writer != user.username %}
            <h5>with  <b>{{unit.writer}}</b></h5>
            {% endif%}
        </a>
    </div>
{% endfor %}
   
<div class="page">
    {% if message.has_previous %}
    <a href="?page=1">1</a>
    <a href="?page={{message.previous_page_number}}">◀ </a>
    {% endif %}

    <span>{{message.number}}</span>
    <span>of</span>
    <span>{{message.paginator.num_pages}}</span>

    {%if message.has_next%}
    <a href="?page={{message.next_page_number}}"> ▶</a>
    <a href="?page={{message.paginator.num_pages}}">{{message.paginator.num_pages}}</a>
    {% endif %}
</div>
        
    
    {%endblock%}